.error-icon {
    color: red !important;
    font-size: 1.25rem;
}

.warning-icon {
    color: #FBBC05 !important;
    font-size: 1.25rem;
}

.ok-icon {
    color: #03C04A !important;
    font-size: 1.25rem;
}

.view-icon {
    color: #2a9df4 !important;
    font-size: 1.25rem;
}

.cellAlignLeft {
    text-align: left;
}

.cellAlignRight {
    float: right;
}
